#cases {
  .navigation-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    #my-keen-slider {
      .case_item {
        max-width: 30rem;
        margin: 0 auto;

        img {
          width: 100%;
          height: 10rem;
          background: #EEEEEE;
          margin-bottom: 1.25rem;
          object-fit: cover;

          @media only screen and (min-width: 36rem) {
            height: 13rem;
          }
        }

        .case_info {
          span {
            display: block;
            font-size: var(--size_span-info);
            line-height: 1.3;
            letter-spacing: -0.02625rem;
            color: var(--cinza);
          }

          h3 {
            font-size: var(--size_h3);
            line-height: 1.3;
            letter-spacing: -0.0375rem;
            font-weight: var(--bold);
            margin: .25rem 0 .75rem;
          }

          p a {
            display: inline;
            color: var(--preto);
            text-decoration: underline;
          }


          a {
            display: block;
            margin: 1.5rem auto 3rem;
            width: 90%;
            text-align: center;

            @media only screen and (min-width: 36rem) {
              width: 25rem;
            }

            @media only screen and (min-width: 48rem) {
              max-width: 100%;
            }
          }
        }
      }
    }

    .dots {
      display: none;
    }

    .arrow_nav {
      display: flex;

      .arrow {
        width: 3rem;
        height: 2.5rem;
        background: var(--preto);
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
          position: relative;
          display: block;
          width: 18px;
          height: 18px;
          content: url(../img/icon/arrow.svg);
        }

        &.arrow--left::before {
          transform: rotate(180deg);
          margin-bottom: -2px;
        }

        &.arrow--disabled {
          opacity: .5;
        }
      }

      .counter {
        width: 3rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          width: fit-content;
        }
      }
    }
  }
}

@media only screen and (min-width: 80rem) {
  #cases {
    .container {
      position: relative;

      .section_intro {
        margin: 0 auto 3.5rem 0;
      }
    }

    .navigation-wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .dots {
        order: 1;
        width: .375rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 3rem;

        .dot {
          width: 2px;
          height: 6rem;
          background: #C9C4C4;

          &:not(:last-child) {
            margin-bottom: 2rem;
          }

          &.dot--active {
            width: .375rem;
            background: var(--cinza);
          }
        }
      }

      #my-keen-slider {
        order: 2;

        .case_item {
          display: flex;
          align-items: center;
          justify-content: space-between;

          img {
            order: 2;
            width: 35rem;
            height: 30rem;
            margin-bottom: 0;
          }

          .case_info {
            order: 1;
            max-width: 30rem;

            h3 {
              max-width: 27rem;
            }

            a {
              width: fit-content;
              margin-left: 0;
              margin-right: 0;
            }
          }
        }
      }
  
      .arrow_nav {
        position: absolute;
        top: 1rem;
        right: 0;
      }
    }
  }
} 