#experiencias {
  .container {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:not(:last-child) {
          margin-bottom: 3rem;
        }

        svg {
          display: block;
          height: 1.5rem;
          width: fit-content;
          margin-bottom: 1rem;
        }

        span {
          color: var(--cinza);

          &:not(:last-child) {
            margin-bottom: .5rem;
          }
        }

        p {
          margin: 1rem 0 1.5rem;
          max-width: 30rem;
        }

        a {
          width: fit-content;
        }
      }

      @media only screen and (min-width: 48rem) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
          max-width: 20.25rem;

          &:nth-child(3) {
            margin-bottom: 0;
          }
        }
      }

      @media only screen and (min-width: 64rem) {
        li {
          max-width: 27.5rem;
        }
      }
    }
  }
}