#contato {
  background: var(--preto);
  padding: 3.5rem 0;

  p {
    color: #CCCCCC;
    text-align: left;
    max-width: 30rem;

    &.creditos {
      font-size: .875rem;
      text-align: center;
      margin: 0 auto;

      &:not(:last-child) {
        margin: 4.5rem auto .5rem;
      }

      a {
        display: inline;
        color: var(--branco);
      }
    }
  }

  .container {
    flex-direction: column;
    align-items: start;

    .section_intro {
      margin-left: 0;
    }

    h2 {
      color: var(--branco);
      width: fit-content;
    }

    .section_intro {
      margin-bottom: 1rem;
    }

    #email {
      border: 1px solid var(--branco);
      width: fit-content;
      font-weight: var(--semi);
      display: flex;
      align-items: center;
      margin: 2rem 0 0;
      position: relative;

      &::after {
        content: url(../img/icon/copy.svg);
        margin-left: 1rem;
      }

      &::before {
        display: block;
        content: 'Copiado!';
        background: var(--branco);
        color: var(--preto);
        padding: 1rem 3rem;
        text-align: center;
        font-weight: var(--semi);
        letter-spacing: -0.015rem;
        position: absolute;
        top: 0;
        right: 25%;
        box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.5);
        visibility: hidden;
        opacity: 0;
        transition: .3s all ease-in-out;
      }

      &.ativo::before {
        top: -4.5rem;
        visibility: visible;
        opacity: 1;
        transition: .3s all ease-in-out;
      }
    }

    .contatos_form {
      display: none;

      .label_input {
        display: flex;
        flex-direction: column;

        label {
          font-size: 1.125rem;
          font-weight: var(--bold);
          letter-spacing: 0.03375rem;
          margin-bottom: 1.5rem;
          color: var(--branco);
        }

        input,
        textarea {
          color: var(--branco);
          background: none;
          border: none;
          border-bottom: 3px solid #EEE;
          padding: .25rem .25rem .25rem 0;
          font-family: 'Space Grotesk', sans-serif;
          font-size: 1rem;
          line-height: 1.7;
          resize: vertical;
          width: 100%;
        }
      }

      button {
        background: var(--branco);
        font-weight: var(--bold);
        color: var(--preto);
        margin-top: 4.5rem;
      }
    }
  }

  .credit_container {
    padding: 0 1.5rem;
  }

  @media only screen and (min-width: 48rem) {
    padding: 4.5rem 0;

    .container {
      .contatos_form {
        display: block;
        width: 100%;
        margin-top: 3.5rem;

        .form_linha {
          display: flex;
          justify-content: space-between;
          margin-bottom: 4.5rem;

          .label_input {
            width: 100%;

            &:not(:last-child) {
              margin-right: 2.75rem;
            }
          }
        }


      }
    }
  }

  @media only screen and (min-width: 64rem) {
    padding: 3.5rem 0 2rem;

    .container {
      flex-direction: row;
      justify-content: space-between;

      .contatos_form {
        margin: 0 0 0 5rem;

        .form_linha {
          display: flex;
          flex-direction: column;
          margin-bottom: 4.5rem;

          .label_input {
            width: 100%;

            &:not(:last-child) {
              margin-right: 0;
              margin-bottom: 2.75rem;
            }
          }
        }

      }
    }
  }

  @media only screen and (min-width: 80rem) {
    .container {
      .contatos_info {
        width: 100%;
        max-width: 27rem;
      }

      .contatos_form .form_linha {
        flex-direction: row;

        .label_input:not(:last-child) {
          margin-right: 2.75rem;
          margin-bottom: 0;

        }
      }
    }
  }

  @media only screen and (min-width: 96rem) {
    .container .contatos_info {
      max-width: 30.5rem;
    }
  }
}