@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Space Grotesk', sans-serif;
}

img {
  max-width: 100%;
}

a,
span {
  display: inline-block;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
}

p {
  line-height: 1.5;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1rem;
}

.container {
  padding: 0 1.5rem;
  display: flex;
}

.hide_span span{
  position: absolute;
  left: -999999999px;
}

.btn_principal {
  padding: 1rem 3rem;
  background: var(--preto);
  color: var(--branco);
  font-weight: var(--semi);
  letter-spacing: -0.015rem;
  text-align: center;
}

.horizontal_scroll {
  margin-top: 3.5rem;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 1rem;

  &::-webkit-scrollbar-track {
    border-radius: 2px;
    border: 2px solid currentColor;
  }

  &::-webkit-scrollbar-thumb {
    border: 1px solid currentColor;
  }
}

.section {
  margin: 3.5rem 0;
}

.section_intro {
  * {text-align: center;}

  p {
    margin-bottom: .5rem;
  }

  h1 {
    line-height: 1.1;
    font-size: var(--size_h1);
    letter-spacing: -0.0525rem;
    margin: .375rem 0 .75rem;
  }

  h2 {
    line-height: 1.1;
    font-size: var(--size_h2);
    font-weight: var(--bold);
    letter-spacing: -0.045rem;
  }
}

//SCROLLBARS
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #CCCCCC #767676;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}
*::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #a7a7a7;
  border: 3px solid #FFFFFF;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #202020;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #323232;
}