@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &:focus {
    outline-color: #a2a8dc;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Space Grotesk', sans-serif;
}

img {
  max-width: 100%;
}

a,
span {
  display: inline-block;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
}

p {
  line-height: 1.5;
  font-size: var(--size_p);
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1rem;
}

.container {
  padding: 0 1.5rem;
  display: flex;

  @media only screen and (min-width: 36rem) {
    padding: 0;
    max-width: 34rem;
    margin: 0 auto;
  }

  @media only screen and (min-width: 48rem) {
    max-width: 44rem;
  }

  @media only screen and (min-width: 64rem) {
    max-width: 58.5rem;
  }

  @media only screen and (min-width: 80rem) {
    max-width: 70rem;
  }
}

.hide_span span {
  position: absolute;
  left: -999999999px;
}

.btn_principal {
  padding: 1rem 3rem;
  background: var(--preto);
  color: var(--branco);
  font-weight: var(--semi);
  letter-spacing: -0.015rem;
  text-align: center;
}

.horizontal_scroll {
  margin-top: 3.5rem;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 1rem;

  &::-webkit-scrollbar-track {
    border-radius: 2px;
    border: 2px solid currentColor;
  }

  &::-webkit-scrollbar-thumb {
    border: 1px solid currentColor;
  }

  li:not(:last-child) {
    margin-right: 1.25rem;
  }
}

.section {
  margin: 3.5rem 0;

  .container {
    flex-direction: column;
  }

  @media only screen and (min-width: 48rem) {
    margin: 5rem 0;

  }
}

.section_intro {
  max-width: 32.75rem;
  margin: 0 auto 2.5rem;

  * {
    text-align: center;
  }

  p {
    margin-bottom: .5rem;
  }

  h1 {
    line-height: 1.1;
    font-size: var(--size_h1);
    letter-spacing: -0.0525rem;
    margin: .375rem 0 .75rem;
  }

  h2 {
    line-height: 1.1;
    font-size: var(--size_h2);
    font-weight: var(--bold);
    letter-spacing: -0.045rem;
  }

  @media only screen and (min-width: 36rem) {
    margin-bottom: 2.75rem;
  }

  @media only screen and (min-width: 64rem) {
    margin-bottom: 3.5rem;
  }
}

//SCROLLBARS
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #CCCCCC #767676;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

*::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #a7a7a7;
  border: 3px solid #FFFFFF;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #202020;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #323232;
}

@keyframes infiniteScroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

marquee {
  background: var(--preto);
  padding: 2.9rem 0;

  ul {
    display: flex;

    li {
      display: flex;
      align-items: center;
      color: var(--branco);
      white-space: nowrap;
      min-width: fit-content !important;
      max-width: fit-content !important;

      &::before {
        content: url(../img/icon/infinite_scroll_icon.svg);
        margin-right: 2rem;
      }

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}

// KEEN SLIDER
.keen-1280 .container {

  .navigation-wrapper {
    display: flex;

    .dots {
      display: none;
    }

    .arrow_nav {
      display: flex;

      .arrow {
        width: 3rem;
        height: 2.5rem;
        background: var(--preto);
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
          position: relative;
          display: block;
          width: 18px;
          height: 18px;
          content: url(../img/icon/arrow.svg);
        }

        &.arrow--left::before {
          transform: rotate(180deg);
          margin-bottom: -2px;
        }

        &.arrow--disabled {
          opacity: .5;
        }
      }

      .counter {
        width: 3rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          width: fit-content;
        }
      }

      @media only screen and (min-width: 48rem) {
        margin-top: 3.5rem;
      }
    }
  }

  @media only screen and (min-width: 80rem) {
    position: relative;

    .section_intro {
      margin: 0 auto 3.5rem 0;
    }

    .navigation-wrapper {
      align-items: flex-start;

      .dots {
        order: 1;
        width: .375rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 3rem;

        .dot {
          width: 2px;
          height: 6rem;
          background: #C9C4C4;

          &:not(:last-child) {
            margin-bottom: 2rem;
          }

          &.dot--active {
            width: .375rem;
            background: var(--cinza);
          }
        }
      }
 
      .arrow_nav {
        position: absolute;
        top: 1rem;
        right: 0;
      }
    }
  }
}