header {
  background: var(--branco);
  padding: .875rem 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;

  &.scroll {
    box-shadow: 0px 1px #0000001c;
  }

  @media only screen and (max-width: 1280px){
    &::before{
      content: '';
      position: absolute;
      display: block;
      top: 4.25rem;
      background: transparent;
      z-index: -1;
      visibility: hidden;
      transition: background .3s ease-in-out;
      }

      &.ativo {

        &::before{
          content: '';
          position: absolute;
          display: block;
          top: 4.25rem;
          height: calc(100vh - 4.25rem);
          width: 100%;
          background: rgba(0,0,0,.16);
          z-index: 5;
          visibility: visible;
        }
      }
  }
  
  .container {
    align-items: center;
    justify-content: space-between;

    #logo {
      color: #202020;
      display: flex;
    }

    #menu {
      width: 2.5rem;
      height: 2.5rem;

      div {
        width: 1.5rem;
        height: .125rem;
        background: transparent;
        display: flex;
        position: relative;
        margin-left: auto;

        &::before,
        &::after {
          display: block;
          content: '';
          width: 1.5rem;
          height: .125rem;
          background: var(--preto);
          position: absolute;
          transition: .2s all ease-in-out;
        }

        &::before {
          transform: translateY(-6px);
        }

        &::after {
          transform: translateY(6px);
        }
      }
    }


      #nav {
        position: absolute;
        height: calc(100vh - 4.25rem);
        top: 4.25rem;
        right: -18.5rem;
        height: calc(100vh - 68px);
        width: 18.5rem;
        background: var(--branco);
        padding: 2rem;
        z-index: 6;
        transition: .3s ease-in-out;

        #internal_nav {
          li {
            a {
              font-weight: var(--semi);
              font-size: 1.25rem;
              letter-spacing: -0.3px;
              color: var(--preto);
              width: 100%;
              padding: 1rem 0;
            }
          }
        }

        .btn_principal {
          width: 100%;
          padding: 1rem 2.5rem;
          margin: 3rem 0 2rem;
        }

        #social_nav {
          display: flex;
          align-items: center;

          li {
            &:not(:last-child) {
              margin-right: 1.5rem;
            }

            a {
              display: flex;
              width: 1.6rem;
              height: 1.6rem;

              img {
                margin: auto auto;
              }

              &:hover {
                text-decoration: none;
                opacity: .5;
              }
            }

            &.language {
              a {
                color: var(--preto);
                font-weight: var(--bold);
                height: fit-content;
                width: fit-content;
                padding: .8rem;
                line-height: 1;
                font-size: 1.125rem;
              }
            }
          }
        }
      }
    
  }

  &.ativo {
    .container {
      #menu div {
        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }

      #nav {
        right: 0;
      }

    }
  }
}

@media only screen and (min-width: 80rem) {
  header {
    padding: 1.2rem 0;

    .container {
      justify-content: flex-start;

      #logo {
        margin-right: 3.75rem;
      }

      #menu {
        display: none;
      }

      #nav {
        position: static;
        height: fit-content;
        width: fit-content;
        visibility: visible;
        opacity: 1;
        background: none;
        width: 100%;
      }

      #nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;

        #internal_nav {
          display: flex;

          li {
            &:not(:last-child) {
              margin-bottom: 0;
              margin-right: 2.5rem;
            }

            a {
              font-size: 1rem;
              color: var(--cinza);
            }
          }
        }

        .nav_1280 {
          display: flex;
          align-items: center;

          .btn_principal {
            order: 2;
            margin: 0 0 0 2rem;
            background: none;
            border: 2px solid var(--preto);
            color: var(--preto);

            &:hover {
              background: var(--preto);
              color: var(--branco);
            }
          }

          #social_nav li a:not(.language a) {
            opacity: .56;

            &:hover {
              opacity: .8;
            }
          }
        }

      }
    }
  }
}

@media only screen and (min-width: 96rem) {
  header {
    padding: 1.5rem 0;
  }
}