main {
  padding-top: 6rem;

  .container {
    flex-direction: column;

    #main_info {
      text-align: center;

      p {
        font-size: var(--size_p);
      }

      .intro {
        font-weight: var(--medium);
      }

      .resumo {
        color: var(--cinza);
      }

      h1 {
        margin: .375rem 0 .75rem;
      }

      a {
        margin: 1.25rem 0 2.5rem;
      }
    }

    #main_image {
      display: flex;
      position: relative;

      .tooltip {
        padding: 0.5rem 1.25rem;
        position: absolute;

        p {
          color: var(--branco);
          font-size: .75rem;
          width: fit-content;

          &::before {
            position: absolute;
            top: -2rem;
            left: 37%;
          }
        }

        &.designer {
          bottom: 4rem;
          background: linear-gradient(90deg, #000 0%, #3F3F3F 100%);

          p::before {
            content: url(../img/icon/designer_icon.svg);
          }
        }

        &.developer {
          top: 2rem;
          right: -.5rem;
          background: linear-gradient(90deg, #3F3F3F 0%, #000 100%);

          p::before {
            content: url(../img/icon/developer_icon.svg);
          }
        }
      }
    }
  }

  #main_experiencias {
    background: var(--preto);
    padding: 3.5rem 0;

    .container {
      padding-right: 0;

      p {
        display: flex;
        align-items: center;
        padding: 0 3.375rem;
        color: var(--branco);
        font-size: 1.25rem;
        letter-spacing: -0.0375rem;
        line-height: 1.3;

        &::before {
          content: url(../img/icon/experiencias_icon.svg);
          margin-right: 2rem;
        }
      }

      ul {
        margin-top: 3.5rem;

        &::-webkit-scrollbar-track {
          background-color: #555555;
          border-color:  var(--preto);
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--branco);
          border-color:  var(--preto);
        }

        li {
          width: 100%;
          display: flex;
          justify-content: center;
          opacity: .7;

          a {
            display: flex;
            height: 4rem;

            img {
              position: relative;
              height: 100%;
            }
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}