#sobre {
  .container {
    #sobre_slider {
      margin: 0 auto;
      align-items: flex-start;

      @media only screen and (min-width: 36rem) {
        max-width: 85%;
      }

      li {
        p {
          line-height: 1.75;

          span {
            font-weight: var(--medium);
            display: inline;
          }

          &::before {
            display: flex;
            width: 2rem;
            height: 2rem;
            transform: scale(.8);
            margin-bottom: 1.25rem;
          }

          &.ufes::before {
            content: url(../img/icon/ufes.svg);
          }

          &.xpe::before {
            content: url(../img/icon/xpe.svg);
          }

          &.tempo::before {
            content: url(../img/icon/tempo.svg);
          }
        }
      }

      @media only screen and (min-width: 64rem) {
        width: 100%;
        max-width: none !important;
        margin: 0 !important;
        display: flex;
        justify-content: space-between;

        li {
          width: 19rem;
        }

      }

      @media only screen and (min-width: 80rem) {
        li {
          width: 22rem;
        }
      }

      @media only screen and (min-width: 96rem) {
        li {
          width: 24rem;
        }
      }
    }
  }
}