@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

:root {
  --branco: #fff;
  --preto: #000;
  --cinza: #606060;

  --regular: 400;
  --medium: 500;
  --semi: 600;
  --bold: 700;

  --size_p: .875rem;
  --size_span-info: .875rem;
  --size_h1: 1.75rem;
  --size_h2: 1.5rem;
  --size_h3: 1.25rem;

  @media only screen and (min-width: 48rem) {
    --size_p: 1rem;
    --size_h1: 2.75rem;
    --size_h2: 2rem;
    --size_h3: 1.5rem;
  }

  @media only screen and (min-width: 80rem) {
    --size_p: 1.125rem;
    --size_span-info: 1rem;
    --size_h1: 3.5rem;
    --size_h2: 2.5rem;
    --size_h3: 1.75rem;
  }
}